# Builds
/.gradle
/build
/bin

# Various IDE Specific files
#VSCode
.project
.vscode
# JIdea
*.iml
.idea/
# Eclipse
.classpath
.settings/

# Stores credentials and setup info: do NOT commit this file.
local.properties
